<%= form_with model: post, data: { controller: :location } do |form| %>
  <% if post.errors.any? %>
    <ul>
      <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </div>
  <div>
    <%= form.label :region_id %>
    <%= form.collection_select :address_region_id,
                               Address::Region.all, :id, :name,
                               { prompt: 'Please select region' },
                               data: { location_target: 'selectedRegionId', action: 'change->location#fetchProvinces' } %>
  </div>
  <div>
    <%= form.label :province_id %>
    <%= form.collection_select :address_province_id,
                               [], nil, nil,
                               { prompt: 'Please select province' },
                               data: { location_target: 'selectedProvinceId' } %>
  </div>
  <div>
    <%= form.label :city_id %>
    <%= form.collection_select :address_city_id,
                               [], nil, nil,
                               { prompt: 'Please select city' },
                               data: { location_target: 'selectedCityId' } %>
  </div>
  <div>
    <%= form.label :barangay_id %>
    <%= form.collection_select :address_barangay_id,
                               [], nil, nil,
                               { prompt: 'Please select barangay' },
                               data: { location_target: 'selectedBarangayId' } %>
  </div>
  <%= form.submit %>
<% end %>


