<h1>Disaster Information </h1>
<% if user_signed_in? %>
  <h2> Hello <%= current_user.email %> </h2>
  <%= link_to 'Sign out', destroy_user_session_path, data: { 'turbo-method': :delete } %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>

<%= link_to 'New', new_post_path %>
<%= link_to 'Categories', categories_path %>
<table>
  <thead>
  <td>title</td>
  <td>content</td>
  <td>address</td>
  <td>category</td>
  <td>user</td>
  <td>region</td>
  <td>province</td>
  <td>action</td>
  </thead>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.address %></td>
      <td><%= post.user&.email %></td>
      <td><%= post.category %></td>
      <td><%= "#{post.region&.name} #{post.province&.name} #{post.address}" %></td>
      <td><%= post.categories.pluck(:name).join(',') %></td>
      <td>
        <%= link_to 'Show', post_path(post) %><br>
        <%= link_to 'Edit', edit_post_path(post) if policy(post).edit? %>
        <%= link_to 'Comments', post_comments_path(post) %><br>
        <%= link_to 'New Comment', new_post_comment_path(post) %><br>
        <%= button_to 'Delete', post_path(post), method: :delete if policy(post).destroy? %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @posts %>


